{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="form-signin" method="post">
      <div class="col-md-12">
        <h1 class="h3 mb-3 font-weight-normal"> <i class="fas fa-sign-in-alt"></i> Please sign in</h1>
      </div>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}