/*** Global stuff ***/

.clickable {
    cursor: pointer;
}

/*** Asset list view ***/

.assetlist-view .icon-big {
    font-size: 2em;
    margin-right: 15px;
}

.assetlist-view .listicons-wrap {
    text-align: right;
}

.assetlist-view tbody tr:hover {
    background-color: #f8f8f8;
}

/*** New item view ***/

.newitem-view .form-buttons {
    text-align: right;
}

/*** Notifications area ***/
.notifications-area {
    position: absolute;
    width: 100%;
}
.notifications-area .alert {
    margin-bottom: 0;
}
