/*** Global stuff ***/

.clickable {
    cursor: pointer;
}

/*** Asset list view ***/

.assetlist-view .icon-big {
    font-size: 2em;
    margin-right: 15px;
}

.assetlist-view .listicons-wrap {
    text-align: right;
}

.assetlist-view tbody tr:hover {
    background-color: #f8f8f8;
}

/*** New item view ***/

.newitem-view .form-buttons {
    text-align: right;
}

/*** Notifications area ***/
.notifications-area {
    position: absolute;
    width: 100%;
}
.notifications-area .alert {
    margin-bottom: 0;
}

/*** Login view ***/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  /*! margin-bottom: -1px; */
  /*! border-bottom-right-radius: 0; */
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fa-sign-in-alt {
    height: 50px;
    padding-top: 25px;
}

/*** btn styles ***/
.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

}