{% load staticfiles %}

<html>
<head>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bookshelf.css' %}" rel="stylesheet" media="screen">
</head>
<body class="text-center">
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>



<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#id_username').addClass('form-control');
    jQuery('#id_username').attr("placeholder", "User Name");

    jQuery('#id_password').addClass('form-control');
    jQuery('#id_password').attr("placeholder", "User Email");

    jQuery('.form-signin label').addClass('sr-only');
  });

</script>
</body>
</html>
