{% load staticfiles %}

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bookshelf.css' %}" rel="stylesheet" media="screen">

    </head>

<!--
    {% verbatim %}
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
    </div>
    <div ng-controller="BookController as ctrl">
        books: {{ctrl.books}}
    </div>
    {% endverbatim %}
-->
    <body ng-app="bookshelf">

        <notification-alerter></notification-alerter>

        <a ui-sref="hello" ui-sref-active="active">Hello</a>
        <a ui-sref="about" ui-sref-active="active">About</a>
        <a ui-sref="itemList" ui-sref-active="active">itemList</a>
        <a ui-sref="home" ui-sref-active="active">home</a>
        <a ui-sref="itemDetails({itemId:1})" ui-sref-active="active">home</a>

        <div class="pull-right">
            {% if request.user.is_authenticated %}
            <a href="{% url "logout" %}">Sign out</a>
            {% else %}
            <a href="{% url "login" %}">Sign in</a>
            {% endif %}
        </div>

        <div class="container">
            <ui-view></ui-view>
        </div>

        <ui-view name="footer"></ui-view>

    </body>


    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->

    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/popper.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

    <script src="{% static 'js/lib/angular.js' %}"></script>
    <script src="{% static 'js/lib/angular-resource.js' %}"></script>
    <script src="{% static 'js/lib/angular-cookies.js' %}"></script>
    <script src="{% static 'js/lib/angular-ui-router.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/services.js' %}"></script>
    <script src="{% static 'js/components.js' %}"></script>

</html>