<div class="assetlist-view">
    <div class="row">
        <div class="col-md-8">
            <h2><i class="fas fa-book"></i></h2>
        </div>
        <div class="col-md-2">
            <div class="listicons-wrap">
                <i class="fas fa-list-ul icon-big" title="view as list"></i> <i class="fas fa-th icon-big" title="view as thumbnails"></i>
            </div>
        </div>
        <div class="cold-md-2">
            <button ui-sref="newItem" class="btn btn-primary">Νέο <i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Τίτλος</th>
                        <th>Συγγραφέας</th>
                        <th>Διαθέσιμο</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ui-sref="itemDetails({id:asset.id})" ng-repeat="asset in $ctrl.assetResponse" class="clickable">
                        <td>{{asset.name}}</td>
                        <td>n/a</td>
                        <td>{{asset.status}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>