<div class="login-view">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <h2>Sign in</h2>
            <div class="form">
                <div class="form-group">
                    <label>Username</label>
                    <input class='form-control' ng-model="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class='form-control' ng-model="password">
                </div>
            </div>
        </div>
        <div class="col-md"></div>
    </div>
</div>