<div class="newitem-view">
    <h2>Νέο</h2>
    {{$ctrl.newItem}}
    <div class="form">
        <div class="form-group">
            <label>Ονομασία/Τίτλος</label>
            <input ng-model="newItem.name" class="form-control" id="inputName">
            <small class="form-text text-muted">Το όνομα ή ο τίτλος του βιβλίου</small>
        </div>
        <div class="form-buttons">
            <button  class="btn btn-secondary">Άκυρο</button>
            <button ng-click="$ctrl.doCreateItem(newItem)" class="btn btn-primary">Φτιάχτο</button>
        </div>

    </div>
</div>